<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> - <%= logo %>
    </title>
    <%- include("components/header.ejs"); %>
</head>

<body>
    <%- include("components/NavBar.ejs", { logo, funding, github }); %>

    <section class="hero is-danger is-bold is-medium">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 style="font-size: 5rem; font-weight: bold;">
                    <%= error_code %>
                </h1>
                <h2 class="subtitle">
                    <%= description %>
                </h2>
            </div>
        </div>
    </section>
        
    <%- include("components/Footer.ejs", { logo, funding, github }); %>
</body>

</html>
