<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> - <%= logo %>
    </title>
    <%- include("components/header.ejs"); %>
</head>

<body>
    <%- include("components/NavBar.ejs", { logo, funding, github }); %>

    <section class="hero is-danger is-bold is-medium">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title">
                    <%= title %>
                </h1>
                <input id="url-box" class="input" type="text" placeholder="Enter a YouTube Video URL...">
                <button id="search-btn" type="submit" class="button is-light" style="margin-top: 1rem;">Fetch</button>
            </div>
        </div>
    </section>

    <%- include("components/Notifications.ejs") %>

    <script defer src="/static/scripts/Home.js"></script>
        
    <%- include("components/Footer.ejs", { logo, funding, github }); %>
</body>

</html>
