<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("components/header.ejs"); %>
</head>

<body>
    <%- include("components/NavBar.ejs", { logo, funding, github }); %>

    <section class="hero is-danger is-bold is-medium">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title">
                    <%= title %>
                </h1>
                <input id="url-box" class="input" type="text" placeholder="Enter a YouTube Video URL...">
                <button id="search-btn" type="submit" class="button is-light" style="margin-top: 1rem;"
                    onclick="return search();">Fetch</button>
            </div>
        </div>
    </section>

    <%- include("components/Notifications.ejs") %>

        <script defer>
            const YOUTUBE_REGEX = /^https?:\/\/(?:(?:www|m)\.)?(?:youtube\.com\/watch(?:\?v=|\?.+?&v=)|youtu\.be\/)([a-z0-9_-]+)$/i;
            const YOUTUBE_ID_REP = /^https?:\/\/(?:(?:www|m)\.)?(?:youtube\.com\/watch(?:\?v=|\?.+?&v=)|youtu\.be\/)/i;
            const DANGER_CLASS = "is-danger";
            const INFO_URL = "/youtube/id/";

            const urlInput = document.getElementById("url-box");
            const searchBtn = document.getElementById("search-btn");

            async function search() {
                const url = urlInput.value;
                if (!YOUTUBE_REGEX.test(url)) {
                    notify(DANGER_CLASS, "Invalid YouTube video URL");
                    urlInput.classList.add(DANGER_CLASS);
                    return;
                }
                if (urlInput.classList.contains(DANGER_CLASS)) urlInput.classList.remove(DANGER_CLASS);
                const id = url.replace(YOUTUBE_ID_REP, "");
                location.href = INFO_URL + id;
            }
        </script>
        
    <%- include("components/Footer.ejs", { logo, funding, github }); %>
</body>

</html>
